<div class="about_us">


  <h2>About us....</h2>

  <p>Welcome to "All The Pizzas", the best pizza place in town.</p>

  <br>
  <p>We launched our business yesterday and look forward to feeding you pizza.</p>

  <br>

  <p>Please click on the links above to start your order.</p>

  <br>

  <p>Our chefs will make any kind of pizza you like.</p>
  <p>If you can't find your preferred pizza,
  please call us on 0131 290 2600</p>

  <br>

  <p>We hope you enjoy your pizza!!</p>

</div>
