<form action="/pizzas" method="POST">

  <label for="first-name-field">First name:</label>
  <!-- name must match exactly as is in model and db -->
  <!-- id(below) must equal label for "name"(above).  This is for visually impaired person-->
  <input type="text" name="first_name" id="first-name-field" />

  <br>

  <label for="last-name-field">Last Name:</label>
  <input id="last-name-field" type="text" name="last_name">

  <br>


  <label for="pizza-select">Select a pizza:</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita">Margherita</option>
    <option value="Calzone">Calzone</option>
    <option value="Mushroom">Mushroom</option>
    <option value="Haiwian">Haiwian</option>
  </select>

  <br>


  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity"/>

  <br>

  <input type="submit" id="order_pizza" value="Order Pizza">

</form>
